body
{
    font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
    background-color: #3D9970;
}
body p
{
    font-size: 1.3em;
    line-height: 1.28;
	font-family: 'Alegreya';
}

form
{
	font-family: 'Alegreya';
    font-size: 20px;
	display: inline-block;
	width: 60%;
}

h4{
    color: #262626;
	font-family: 'Alegreya';
    font-size: 24px;
}

h5{
    color: #262626;
	font-family: 'Kalam';
	font-size: 23px;
}

h3{
    color: #262626;
	font-family: 'Alegreya';
    font-size: 26px;
}

h2{
    color: #262626;
	font-family: 'Alegreya';
    font-size: 22px;
}


li{
	font-size: 16px;
	color: red;
	font-family: 'Alegreya';
	color:  #404040;
}

.alignleft {

    float: left;
}

.alignright {

    float: right;
	font-size: 22px;
	color:  #404040;
    margin-right: 20px;
}

#beg{
    color: #262626;
	font-family: 'Alegreya';
    font-size: 22px
}


#wrapper
{
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 15px solid #FF4136;
}

#banner
{
    background-image: url(../Images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #3D9970;    
    height: 200px;
}

#content_area
{
    float: left;
    width: 1050px;
    margin: 20px 0 20px 0;
    padding: 20px;
}

footer
{
    clear: both;
    width: auto;
    height: 15px;
    padding: 10px;
    border: 3px solid #3D9970;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/bar_background.png);
}

#navigation
{
    height: 60px;
    border: 3px solid #3D9970;
    margin-top: 20px;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/bar_background.png);
}

#nav
{
    list-style: none;
}

#nav ul
{
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#nav li
{
    font-size: 24px;
    float: left;
    position: relative;
    width: 180px;
    height: 50px;
}

#nav a:link, nav a:active, nav a:visited
{
    display: block;
    color: #fff;
    text-decoration: none;
}

#nav a:hover
{
    color: lightblue;
}

.imgLeft
{
    float: left;
    width: 200px;
    height: 200px;
    margin: 0px 10px 10px 0;
    padding: 10px;
}

.imgRight
{
    float: right;
    width: 200px;
    height: 200px;
    margin: 0px 0 10px 10px;
    padding: 10px;
}


input, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}


/* Style the submit button */
input[type=submit] {
  background-color: #3D9970;
  color: white;
  padding: 22px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

div.ex1 {
  background-color: #3D9970;
  width: 310px;
  height: 310px;
  overflow: scroll;
  float: right;
  border: 1px solid #ccc;
}