body {
	font-family: Roboto;
	margin: 0;
	background:#9dc6d8;
}

.container {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
	padding: 0 3rem;
}

@media screen and (max-width: 580px) {
	.container{
		padding: 0;
		margin: 0;
		overflow: hidden;
		overflow-y: scroll; 
	}
}

h1, h2, h3 {
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 8px;
	padding: 0px;
}

h1 {
	font-size: 3.2vw;
	color:#965251;
}

h2 {
	font-size: 3vw;
	color:#965251;
}

h3 {
	font-size: 2vw;
	color: #965251;
}


p {
	margin: 20px 0;
	color: #965251;
	line-height: 1.6rem;
	text-align:center;
	font-size: 1.3vw;
}

.img_feature{
	margin: 20px 0;
	max-width: 1200px;
	width: 100%;
	height: auto;
}


.img_overview {
	position: relative;
	width: 20rem;
	height: 15rem;
	background-position: 50% 50%;
	border: 0.5rem solid #9dc6d8;
	margin: 0.5rem;
	border-radius: 0.5rem;
}


.slides{
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	height: auto;
}

button {
	outline: none;
	border: none;
	margin: 2rem 0;
	padding: 1.2vw 2.2vw;
	background: #00b3ca;
	font-family: Roboto;
	color: #282627;
	letter-spacing: 0.1rem;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.1vw;
}

@media screen and (max-width: 580px) {
	button {
		padding: 0.8rem 1.2rem;
		font-size: 0.6rem;
	}
	
}
	
	
i{
	font-size: 42px;
	letter-spacing: 14px;
}

/* navigation */ 

nav {
	height: 60px;
	width: 100%;
	background-color: #9dc6d8;
	position: fixed;
	z-index: 9999;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow:hidden;
}

nav li {
	float: left;
}

nav a {
	display: block;
	width: 100px;
	font-weight: 4vw;;
	text-align: center;
	text-decoration: none;
	padding: 20px 0;
	color: #965251;
	transition: 1s;
}

nav a:hoover {
	color: #965251;
}

nav a#toggle-btn {
		display:none;
}


@media screen and (max-width: 580px){
	nav {
		height: auto;
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav li {
		width: 100%;
		float: left;
		position: relative;
	}
	
	nav a {
		text-align: left;
		width: 100%;
		text-indent: 25px;
		background: #282627;
		color: #965251;
	}
	
	nav a:hover {
		color: #6C6C6C;
	}
	
	nav a#toggle-btn:after {
		content: "|||";
		transform: rotate(-90deg);
		width: 40px;
		height: 40px;
		position: absolute;
		right: 5px;
		top:20px;
	}
	
	
	nav a#toggle-btn {
		display: block;
		background: #282627;
		color: #965251;
		width: 100%;
		position: relative;
	}
	
	.menu:before, .menu:after {
		content: "";
		display: table;
	}
	
	.menu:after {
		clear: both;
	}
	
	.menu {
		zoom: 1;
	}
}


/*overview*/

#overview {
	background: #c6cccc;
	padding: 2rem 0;
}

/* feature section */

#feature {
	padding: 6rem 0;
}

#feature h2 {
	text-transformation: uppercase;
	font-weight: 800;
	font-size: 14px;
	letter-spacing: 12px;
	margin-bottom: 2em;
}


/* about section */

#about {
	background: #c6cccc;
	padding: 8em 0;
}

#subscribe h2 {
	color: #965251;
}

#subscribe input {
	width: 80%;
	margin: 2rem 0;
	background: none;
	border: 1px solid #965251;
	padding: 0.5rem;
	font-family: Roboto;
	font-size: 1rem;
	font-weight: 400;
	color: rgb(29, 78, 137);
}

#subscribe input:focus {
	border: none;
	border: 2px solid #965251;
}

input:: placeholder {
	color: #965251;
	text-transform: uppercase;
	font-weight:  400;
}

footer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 1em 0;
	background: #9dc6d8;
}

footer span {
	color: #965251;
}


.btn_image {
	position: absolute;
	background-color: rgba(210, 178, 155, 0.8);
	color: white;
	font-size: 1.2vw;
	border: none;
	cursor: pointer;
	border-radius: 0.4rem;
	text-align: center;
	word-wrap: break-word;
	max-width: 16rem;
	margin: 8rem -14rem;
	padding: 0.5rem 0.7rem;
}

#more {
	display: none;
}


/*POP-UP WINDOW*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  background-color: #f1f3f3;
  width: 50%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s

  
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #9dc6d8;
}

.modal-body {padding: 2px 2px;}

.modal-footer {
  background-color: #9dc6d8;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

/*Add facebook and ig emoticons*/

.fa:hover {
    opacity: 0.7;
}

.fa-facebook,.fa-instagram  {
  padding: 0.3rem;
  width: 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  background: #9dc6d8;
}



































